header {
  height: 100px;
  border-radius: 10px;
  background-color: #000;
}

header h2 {
  color: #fff;
}

article {
  margin-top: 50px;
  border: solid 2px #000;
  border-radius: 10px;
  padding: 20px 0px 20px 0px; 
}

article h3 {
  text-align: center;
}

li {
  list-style: none;
}