@blue-nanar: #94b9b6;
@brown-nanar: #B69886;
@red-nanar: #ed4537;

h2, h3 {
  font-family: 'Lobster Two', cursive;
}

li {
  list-style: none;
}

.container{
  font-family: 'Belleza', sans-serif;
  color: #1a1919;
  padding: 0px;
  margin: 0px;
  width: 100%;
}