header {
  height: 300px;
  background-color: #B69886;
}

header h1 {
  color: #000;
  font-family: 'Tangerine', serif;
  font-size: 500%;
  background-color: #94b9b6;
  border-radius: 25px;
  border: solid 1px #0d9f9e;
  text-align: center;
  height: 200px;
}

.presentation {
  background-color: #B69886;
  padding-top: 30px;
  padding-bottom: 30px;
}

article {
  margin-top: 50px;
}

.bleue {
  background-color: #94b9b6;
  border-radius: 20px;
  padding: 20px 0px 20px 0px;
  border: solid 1px #0d9f9e;
}

article h3 {
  font-family: 'Tangerine', serif;
  text-align: center;
}

li {
  list-style: none;
}

.collabo {
  border: solid 1px #000;
  padding:10px;
  margin: 5px;
}

.livres {
  min-height:200px;
  background-color: #ed4537;
}