header {
  height: 300px;
  background-color: @brown-nanar;
}

header .titre {
  color: #000;
  background-color: @blue-nanar;
  border-radius: 25px;
  border: solid 1px #0d9f9e;
  height: 200px; 
  text-align: center;
  margin-top: 10px;
}

header h1 {
  font-size: 500%;
  font-family:'Amatic SC', cursive; 
  
}

header h3 {
  font-size: 300%;
  font-family:'Amatic SC', cursive; 
}

header .monster {
  margin-top: 25px;
}

header img {
  margin-top: 5px;
}