<template name="summary">
  <article class="col-xs-8 col-xs-offset-2">
    <h1>Deux nouveaux Nanars chaque jours</h1>
    <img src="/images/livre1.jpg" alt="livre1" class="img-responsive col-xs-3 col-xs-offset-2">
    <img src="/images/livre3.jpg" alt="livre3" class="img-responsive col-xs-3 col-xs-offset-2">
  </article>
  <article class="col-xs-4">
    <h3>Acheter, notez, commenter</h3>
    <ul>
      <img src="/images/main3.png" alt="">
      <img src="/images/main2.png" alt="">
      <img src="/images/main1.png" alt="">
      <li>"Lorem ipsum dolor sit amet, consectetur adipisicing elit."</li>
    </ul>
  </article>
  <article class="col-xs-3 col-xs-offset-1">
    <h3>Faites votre classement</h3>
    <ul>
      <img src="/images/3.png" alt="">
      <li>"Lorem ipsum dolor sit amet, consectetur adipisicing elit."</li>
    </ul>
  </article>
  <article class="col-xs-3 col-xs-offset-1">
    <h3>Consultez la bibliothèque des autres</h3>
    <ul>
      <img src="/images/byFaraw.png" alt="illustration de Faraw" class="col-xs-10 col-xs-offset-1">
      <li>"Lorem ipsum dolor sit amet, consectetur adipisicing elit."</li>
    </ul>
  </article>
  
</template>